PORT=3000

# PostgreSQL (Dùng cho TypeORM và pgvector cho RAG)
DB_HOST=localhost
DB_PORT=5435
DB_USER=postgres
DB_PASS=xxxxxx
DB_NAME=ai_study_db

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5673

# Redis
REDIS_HOST=localhost
REDIS_PORT=6381